<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->

<!--<suite name="Suite1">-->

    <!--&lt;!&ndash;<parameter name="loginurl" value="http://studio5f.online/en/" />&ndash;&gt;-->
    <!--&lt;!&ndash;<parameter name="logouturl" value="http://registrator.herokuapp.com/logout" />&ndash;&gt;-->
    <!--&lt;!&ndash;<parameter name="browserName" value="chrome" />&ndash;&gt;-->

    <!--&lt;!&ndash; 3 ERROR 5 WARNING 7 INFO 9 DEBUG &ndash;&gt;-->
    <!--<test verbose="9" name="Test1">-->
        <!--<parameter name="number" value="2" />-->
        <!--<classes>-->
            <!--&lt;!&ndash; <class name="com.softserve.edu.AppTest" /> &ndash;&gt;-->
            <!--&lt;!&ndash; 			<class name="com.softserve.edu.opencart.tests.StartTest"> &ndash;&gt;-->
            <!--&lt;!&ndash; 				<methods> &ndash;&gt;-->
            <!--&lt;!&ndash; 					<include name="checkCurrency" /> &ndash;&gt;-->
            <!--&lt;!&ndash; 					<include name="checkProductCurrency" /> &ndash;&gt;-->
            <!--&lt;!&ndash; 				</methods> &ndash;&gt;-->
            <!--&lt;!&ndash; 			</class> &ndash;&gt;-->
            <!--&lt;!&ndash; 			<class name="com.softserve.edu.opencart.tests.LoginTest" /> &ndash;&gt;-->
            <!--&lt;!&ndash; 			<class name="com.softserve.edu.AppTestReport" /> &ndash;&gt;-->
            <!--<class name="AddressesEntriesTest" />-->
        <!--</classes>-->
    <!--</test> &lt;!&ndash; Test &ndash;&gt;-->

<!--</suite> &lt;!&ndash; Suite &ndash;&gt;-->
